<h1>Hello {{ FirstName }} {{ LastName }} Id:{{ UserId }}</h1>
<h2>Email: {{ Email }}</h2>
<h3>Username: {{ UserName }}</h3>

<form id="logout" name="logout" method="POST" action="/users/logout">
    <button type="submit">Logout</button>
</form>
<hr>
<div>
    <div>
        <button onclick='location.href="http://localhost:3000"'>Homepage</button>
        <button onclick='location.href="http://localhost:3000/posts"'>Post!</button>
        <button onclick='location.href="http://localhost:3000/users/edit/{{UserId}}"'>Edit Profile</button>
    </div>
    <h4>Past Posts</h4>
    <div>
        {{#each postsByUser}}
        <hr>
        <label for="PostTitle"> Title: {{PostTitle}}</label>
        <p>{{PostBody}}</p>
        <button onclick='location.href="http://localhost:3000/posts/edit/{{PostId}}"'>Edit Post</button>
        <br>
        <form id="delete-post" name="post" method="POST" action="/posts/delete/{{PostId}}">
            <button type="submit">Delete</button>
        </form>
        {{/each}}
    </div>
</div>